{% extends "./template/html.twig" %}

{% block metas_data %}{% endblock %}

{% block title %}Shoes | Contato
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{{file}}css/contact.css">
{% endblock %}

{% block body %}
	<div class="attraction">
		<h1 class="title">Entre em contato conosco</h1>
		<img class="svgcontact" src="{{file}}img/vectors/contact.svg">
		<p class="text">Envie-nos um email que responderemos o mais rápido possível!</p>
		<i class="fas fa-angle-double-down"></i>
	</div>
	<div id="grid">
		<div class="left">
			<form method="post" action="../app/controller/enviar-email.php">
				<input type="text" name="txNome" required="require" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" placeholder="Nome"/>

				<input type="email" name="txEmail" required="require" placeholder="Email"/>

				<input type="text" name="txAssunto" required="require" placeholder="Assunto"/>

				<textarea type="text" name="txMsg" required="require" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" placeholder="Mensagem"></textarea>

				<input type="submit" value="Enviar"/>
			</form>
		</div>
        
		<div class="right" id="mapa"></div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCAckKLHl-T6HPk2pTVfxrjHXf4yLojpfw&amp;"></script>
	<script src="{{file}}js/contact.js"></script>
{% endblock %}
