{% extends "./template/html.twig" %}

{% block title %}Shoes | Entrar {% endblock %}

{% block metas_data %}

{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="css/form.css">
{% endblock %}

{% block body %}
    <main id="main_container_login">
        <div id="div_form">
            <h2>Entrar como administrador</h2>
            <form action="/admin/login" method="post" class="form">
                <div class="form-item col">
                    <label for="name" class="item-label">Nome:</label>
                    <input type="text" class="item-input" name="name" id="name" maxlength="100">
                    <div class="div_message">
                        <p class="message"></p>
                    </div>
                </div>
                <div class="form-item col">
                    <label for="email" class="item-label">E-mail:</label>
                    <input type="email" class="item-input" name="email" id="email" maxlength="100">
                    <div class="div_message" >
                        <p class="message"></p>
                    </div>
                </div>
                <div class="form-item col">
                    <label for="password" class="item-label">Senha:</label>
                    <input type="password" class="item-input" name="password" id="password" maxlength="50">
                    <div class="div_message">
                        <p class="message"></p>
                    </div>
                </div>
                <div class="form-item col">
                    <div class="row">
                        <label for="check" class="item-label">Aceita os <strong>Termos de uso e privacidade</strong>?</label>
                        <label for="terms" id="check" class="inative"></label>
                        <input type="checkbox" class="item-input" hidden name="terms" id="terms">
                    </div>
                    <div class="div_message">
                        <p class="message"></p>
                    </div>
                </div>
                <div class="form-item">
                    <button type="submit" class="button button_primary" name="button_submit" id="button_submit">Entrar</button>
                </div>
            </form>
        </div>
    </main>

   
    
{% endblock %}

{% block scripts %}
    <script src="js/login.js"></script>
{% endblock %}