<footer>
    <div>
        <ul>
            <li><a href="#">FOOTER</a></li>
            <li><a href="#">FOOTER</a></li>
            <li><a href="#">FOOTER</a></li>
            <li><a href="#">FOOTER</a></li>
        </ul>
    </div>
</footer>