<header>
    <div class="logotipo">
        <a href="#">
          <img src="./../public/img/logo.ico" alt="Shoes"/>
        </a>
        <a id="logo" href="#">Shoes</a>
      </div>
    
    <nav id="nav">
        <ul id="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
</header>
