<header id='navbar'>
    <div id="logotipo">
        <a href='#' onclick="scrollTo(0,0)" >
          <img src="./img/logo.ico" alt='Logotipo'/>
        </a>
        <a id="logo" href='#' onclick="scrollTo(0,0)" >Shoes</a>
      </div>
    
    <nav id="nav">
      <button id="btn-mobile">
        <span id="hamburger"></span>
        </button>
        <ul id="menu">
            <li><a href="./">Inicio</a></li>
            <li><a href="./products">Produto</a></li>
            <li><a href="./contact">Contato</a></li>
            <li><a href="./admin">Entrar</a></li>
        </ul>
    </nav>
</header>
