  <link rel="stylesheet" href="./css/menu.css">
<header>
    <div id="logotipo">
        <a>
          <img src="./../public/img/logo.ico"/>
        </a>
        <a id="logo" href="#">Shoes</a>
      </div>
    
    <nav id="nav">
      <button id="btn-mobile">Menu
        <span id="hamburger"></span>
        </button>
        <ul id="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
</header>
