/* BOX'S INICIAIS */
main{
    padding: 4rem 0;
}
.box_cima{
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box_cima div h2{
    font-size: max(.9rem,calc(.9rem+1vw)) !important;

}
.box_cima div{
    min-width: 160px;
    max-width: 260px;
    position: relative;
    transition: .5s ease;
    width: 100%;
}
.box_cima img{
    position: absolute;
    top: 50%;
    width: 25px;
    /* transform: translateY(-50%); */
    height: 25px;
    right: 1rem;
}
.box_cima img.nike{
    width: 35px;
    height: 35px;
}
.content_1{
    margin: 1rem .4rem;
    padding: 2vw;
    border-radius: 5px;
    box-shadow: 2px 4px 10px var(--shadow);
}
.content_1:hover{
    -moz-transform: scale(1.03);
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}
.content_2{
    margin: 1rem .4rem;
    padding: 2vw;
    border-radius: 5px;
    box-shadow: 2px 4px 10px var(--shadow);
}
.content_2:hover{
    -moz-transform: scale(1.03);
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}
.content_3{
    margin: 1rem .4rem;
    padding: 2vw;
    border-radius: 5px;
    box-shadow: 2px 4px 10px var(--shadow);
}
.content_3:hover{
    -moz-transform: scale(1.03);
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}
.content_4{
    margin: 1rem .4rem;
    padding: 2vw;
    border-radius: 5px;
    box-shadow: 2px 4px 10px var(--shadow);
}
.content_4:hover{
    -moz-transform: scale(1.03);
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}
.box_baixo{
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}
.content_5{
    margin: 1rem;
    flex-grow: 0;
    width: 100%;
    height: 250px;
    max-width: 600px;
    overflow-x: auto;
    border-radius: 5px;
    box-shadow: 2px 4px 10px var(--shadow);
}
.content_5 .graf{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
}
.content_6{
    margin: 1rem;
    max-width: 600px;
    height: 250px;
    width: 100%;
    flex-grow: 0;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 2px 4px 10px var(--shadow);
}
h2{
    color: var(--dark_blue);
}

.title_filter{
    margin: 1rem 1rem 2rem 1rem;
}
p{
    margin-top: 1rem;
    color: var(--blue);
    font-size: max(.8rem,calc(.8rem+1vw)) !important;
}
/* FIM BOX'S INICIAIS */
/* SELECT - DROPBOX */
select{
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:0 2px 4px var(--shadow);
    border:0!important;
    width: 100%;
    background: var(--blue);
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:var(--white);
    font-weight: bold;
    border-radius: 8px;
    cursor:pointer;
    font-size: 1em;
}
select::-ms-expand {
    display: none;
 }
 .form-filters {
    position: relative;
    display: flex;
    width: 60%;
    height: 3em;
    box-shadow: 0 4px 4px var(--shadow);
    line-height: 3;
    background: transparent;
    overflow: hidden;
    border-radius: .25em;
    margin: 0 auto;
 }
 .form-filters::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    display: flex;
    border-radius: 0 8px 8px 0 ;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    background: var(--background_color);
    cursor:pointer;
    pointer-events:none;
    color: var(--blue);
    transition:.25s all ease;
 }
 .form-filters:hover::after {
    color: var(--light_purple);
 }
 /* FIM SELECT */

@media(max-width: 660px){
    .media{
        font-size: 12px;
    }
}
@media(max-width: 600px){
    .box_cima{
        display: flex;
        align-items: center;
    }
    .box_cima div{
        max-width: none;
        position: relative;
        width: 100%;
    }
    .box_cima img{
        position: absolute;
        right: 1rem;
        margin: 0 !important;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 !important;
    }
    .box_baixo{
        display: flex;
    }
    h2{
        font-weight: 9px;
    }
    .media{
        font-size: 17px;
    }

    .content_5{
       max-width: 90vw;
       width: 100%;
       order: 2;
    }
    
    .content_6{
        max-width: 90vw;
        width: 100%;
        order: 1;
        height: 200px;
    }
}
