#delete{
    padding: 5rem .4rem;
    background: #ccceff;
}
#delete section {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    overflow: auto;
    margin: 0 auto;
    background-color: var(--background_color);
    box-shadow: 2px 4px 10px var(--shadow);
}
#delete img{
    width: 120px;
    image-rendering: auto;
    border: 1px solid var(--blue);
    box-shadow: 2px 4px 10px var(--shadow);
    height: 100px;
    border-radius: 4px 16px 4px 16px;
}
#delete img:hover{
    transition: .6s cubic-bezier(.3, .9, .3, 2);
    transform: scale(2);
}
th,td{
    font-weight: 500;
    color: var(--black);
    overflow: visible;
    font-size: max(.6rem,min(1vw, .9rem));
}
#delete td a{
    padding: .4rem 1rem;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: .5px;
    color: var(--white);
    background: var(--dark_blue);
}
#delete h1{
    font-size: clamp(1.6rem,1.6em + 1vw,3rem);
    color: var(--black);
    text-align: center;
    margin: 1rem 0;
}
#delete section table{
    box-shadow: 2px 2px 10px var(--shadow);
    overflow: auto;
    min-width: 300px !important;
    width: 100%;
}

#delete section table thead th{
    background-color: var(--blue);
    font-weight: bold;
    padding: .5rem .2rem;
}
#delete section table tbody tr{
    background-color: var(--primary_color);
}
#delete section table tbody tr:nth-child(even){
    background-color: #b3bfff;
   
}
#delete section table tbody tr td{
    padding: .5rem;
    text-align: center;
    vertical-align: middle;
}