footer{
    background-image: linear-gradient(var(--primary_color_dark),var(--primary_color));
    padding: .3rem;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 60px;
    height: 100%;
    box-shadow: 0px -1px 5px var(--shadow);
}
footer .div-image{
    width: 60px;
    height: 50px;
}
footer img{
    width: 100%;
    height: 100%;
}
footer a, footer i, footer span{
    color: var(--black);
    text-decoration: none;
    z-index: 10;
    font-size: max(14px, .8vw);
    font-weight: 500;
    text-shadow: 0 .2px .2px var(--shadow);
}
footer .footer-item{
    width: 100%;
    padding: 0 1rem;
    display: flex;
    margin: .5rem;
    z-index: 10;
    align-items: flex-start;
    align-self: baseline;
    border-bottom: .5px solid var(--shadow);
    flex-direction: column;
}

#div-copy{
    position: absolute;
    height: 50px;
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0px 2px 3px var(--shadow);
}
#div-copy > p{
    font-size: max(.6rem,1.7vw);
    color: var(--black);
    font-weight: 600;
    margin-bottom: 5px;
    z-index: 10;
} 
footer #under-nav{
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}
footer div .div-image{
    order: 2;
}
footer #under-nav > ul  h3{
    font-size: max(20px, 1.2vw);
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 .5px 1px var(--shadow);
}
footer p{
    font-size: max(16px, 1vw);
    font-weight: 700;
    color: var(--black);
    letter-spacing: .3px;
    margin-bottom: .2rem;
}
footer li{
    margin: .35rem 0;
    margin-left: 1.3rem;
    position: relative;
}
footer li::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: -3px;
    height: 1px;
    width: 0;
    transition: .4s ease;
    opacity: .3;
    background-color: var(--black);
}
footer li:hover::after {
    width: 110%;
    opacity: 1;
}
footer li i span{
    margin-left: .35rem;
}
footer  svg{
    width: 100%;
    position: absolute;
    bottom: 0px;
}
footer #div-logo{
    display: none;
}

@media screen and (min-width: 960px ) {
    footer{
        padding: 1rem;
        flex-wrap: nowrap;
        padding-bottom: 120px;
    }
    footer .div-image{
        width: 80px;
        height: 60px;
    }
    footer #under-nav{
        display: flex;
        justify-content: center;
    }
    footer a, footer i, footer span{
        font-size: max(14px, .9vw);
        font-weight: 500;
    }
    footer .footer-item{
        margin: 1rem;
        border-bottom: 0;
        flex-grow: 0;
        width: auto;
        align-items: center !important;
    }
    footer div .div-image{
        display: none;
    }
    #div-copy{
        justify-content: flex-start;
        align-items: center;
    }
    #div-copy > p{
        font-size: .9rem;
        margin-bottom: 5px;
        font-weight: 600;
        margin-bottom: -10px;
        margin-left: 10px;
    } 
    footer #under-nav > ul  h3{
        font-size: max(20px, 1.2vw);
    }
    footer p{
        font-size: max(16px, 1vw);
        font-weight: 600;
        margin-bottom: .8rem;
    }
    footer li{
        margin: .8rem 0;
        margin-left: .6em;
    }
    footer  svg{
        opacity: 1;
    }
    
    footer #div-logo{
        display: block;
        width: 120px;
        justify-self: center;
        align-self: center;
        height: 60px;
    }
}