input, button, select, option,textarea{
    outline: none;
    border: none;
    width: 100%;
	font-family: 'Montserrat', Verdana, Arial, sans-serif;
}
*{
    box-sizing: border-box;
}
select{
    padding-right: 1rem;
}
main{
    padding: 2rem 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background:#ccceff;
}
#main_insert{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
#main_container_login .div_form{
    width: 100%;
    max-width: 720px;
}
.div_form  h2{
    color: var(--black);
    margin-bottom: .5rem;
    font-size: max(1.8rem, 1.2vw);
}
.div_form{
    padding: .5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .div_form > form{
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 2px var(--background_color);
    background-color: var(--background_color);
}
 .div_form > form > div{
    width: 100%;
    position: relative;
    padding: .5rem;
    display: flex;
    align-items: center;
}
 .div_form > form > div.col{
    width: 100%;
    flex-direction: column;
}
 .div_form > form > div.row{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
}
.div_form > form > div.col input, .div_form > form > div.col select, .div_form > form > div.col textarea {
    width: 100%;
    border-radius: 4px;
    resize: none;
    box-shadow: 0 1px 4px var(--shadow);
    padding: .5rem;
    font-size: .9rem;
}
.div_form > form > div.col label{
    width: 100%;
    font-weight: 500;
    margin-bottom: .3rem;
}
.div_form > form div .btn{
    display: flex;
    box-shadow: 0 1px 4px var(--shadow);
    flex-direction: row;
    width: 100%;
    border-radius: 4px;
}
.div_form > form div #colors{
    flex-shrink: 1;
    box-shadow: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.div_form > form div button{
    flex-shrink: 3;
    margin: 0;
    transition: .6s ease;
    opacity: .9;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    background-image: linear-gradient(to right,var(--blue), var(--light_purple)) ;
}
.div_form > form div button i{
    color: white;
    font-size: max(.7rem, .8vw);
}
.div_message{
    opacity: 0;
    width: 100%;
    margin: .3rem 0 0 ;
    padding: .5rem;
    transition: .3s ease;
    margin-left: -50%;
    box-shadow: 2px 2px 4px var(--shadow);
    border-radius: 4px;
}
.div_message > p{
    font-weight: 600;
    font-size: .8rem;
}
@media screen and (max-width: 600px){
    .div_message > p{
        font-size: .7rem;
    }  
}
.div_message.success{
    border: 1px solid var(--success);
    margin-left: 0;
    opacity: 1;
    background-color: var(--bg_success);
    display: block !important;
}
.div_message.success > p{
    color: var(--success);
}
.div_message.error{
    border: 1px solid var(--error);
    margin-left: 0;
    opacity: 1;
    background-color: var(--bg_error);
    display: block !important;
}
.div_message.error > p{
    color: var(--error);
}
.div_form > form div.col > div.row{
    position: relative;
}
.div_form > form div.row{
    width: 100%;
}
.div_form > form div.row #check{
    content: '';
    width: 18px;
    position: absolute;
    bottom: 50%;
    margin: 0;
    left: 0;
    transition: .3s ease;
    transform: translateY(45%);
    opacity: .8;
    border-radius: 4px;
    height: 18px;
    border: 1px solid var(--shadow);
}
.div_form > form div.row #check.active{
    border: 1px solid var(--black);
    background-color: var(--purple);
}
.div_form > form div.col > div.row label{
    order: 2;
    margin-left: 2rem;
    font-size: .9rem;
}
.div_form > form > .form-item #button_submit{
    border-radius: 4px;
    box-shadow: 0 3px 10px var(--background_color_dark_modal);
    width: 100%;
    margin: auto;
    padding: 1rem;
    font-size: 1rem;
    opacity: .85;
    font-weight: bold;
    max-width: 400px;
    transition: .6s ease;
    color: var(--white);
    text-shadow: 0 2px 4px var(--black);
    cursor: pointer;
    background-image: linear-gradient(to right,var(--blue), var(--light_purple)) ;
    display: flex;  
    justify-content: center;  
    align-items: center;    
}
.div_form > form > .form-item #button_submit:hover{
    opacity: 1;
}

@media screen and (max-width: 600px){
    #main_insert div{
        width: 100%;

    }
    .div_form{
        width: 100% !important;
        min-width: auto;
        margin: 0 auto;
        max-width: 350px;
    }
    .div_form > h2{
        font-size: 1.2rem;
    }
    .div_form > form > div.col input{
        padding: .3rem;
        font-size: .8rem;
    }
    .div_form > form > div.col label{
        font-size: .9rem;
        margin-bottom: .3rem;
    }
    .div_form > form > div.row label{
        order: 2;
        margin-left: 1rem;
        font-size: .7rem;
    }

    .div_form > form{
        padding: .5rem;
        min-height: 40vh;
    }

    .div_form > form > .form-item #button_submit{
        width: 100%;
        max-width: 100%;
        position: relative;
        padding: .7rem;
        font-size: .9rem;
    }

    .div_form > form > div.row #check{
        width: 16px;
        height: 16px;
    }
    .div_form > form div.col > div.row label{
        order: 2;
        margin-left: 1.5rem;
        font-size: .7rem !important;
    }
    #chips{
        display: flex;
        max-width: 100% !important;
        justify-content: center;
        flex-wrap: wrap;
    }
    .chip{
        flex-grow: 0;
        flex-basis: 100px;
    }
}
.form-item .btn input[type='radio']{
    width: 1rem !important;
    flex-shrink: 1;
    margin-right: 10px;
    box-shadow: none !important;
}
.nshadow{
    box-shadow: none !important;
}
.shadow{
    box-shadow: 0 1px 4px var(--shadow);
}
.al-center{
    align-items: baseline;
    /* background-color: red; */
}
.fd-col{
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    justify-content: space-around !important;
    display: flex;
}
.fd-row{
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    display: flex;
}
section{
    width: 100%;
}
.lb-sm{
    font-size: .8rem;
    color: var(--black);
}
.file_image{
    width: 100%;
    border-radius: 4px;
    display: flex;
    background-color: #ffffffdd;
    justify-content: space-around;
    resize: none;
    box-shadow: 0 1px 4px var(--shadow);
    padding: .7rem;
    max-width: 250px;
    flex-wrap: nowrap;
    font-size: .7rem;
    overflow: hidden;
}
#chips{
    display: flex;
    max-width: 200px;
    justify-content: center;
    flex-wrap: wrap;
}
.chip{
    padding: .4rem .5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .3rem;
    background-color: var(--blue);
    box-shadow: 1px 2px 4px var(--shadow);
}
.chip > span{
    font-size: .7rem;
    font-weight: 300;
    color: var(--white);
}
.chip button{
    box-shadow: none !important;
    background: none !important;
}
.imagePreview{
    width: 200px;
    height: 150px;
}
.imagePreview img{
    width: 100%;
    image-rendering: auto;
    height: 100%;
}
.d-none{
    display: none;
}