header{
   box-sizing: border-box;
   height: 80px;
   padding: 1rem;
   display: flex;
   position: fixed;
   top: 0;
   box-shadow: 0 1px 10px var(--black);
   width: 100%;
   z-index: 999;
   align-items: center;
   justify-content: space-between;
   background-color: var(--blue);
}
header hr{
   width: 100%;
}
header a img{
   width: 20%;
   height: 20%;
}
header #logotipo{
  align-items: center;
  padding-left: 1rem;
}
header a#logo{
   text-decoration: none;
   color: var(--white);
   font-weight: 700;
   font-size: 1.8em;
   text-align: center;
}
header #menu{
   display: flex; 
   list-style: none;
   gap: .5rem;  
}
header #menu a{
   display: block;
   padding: .5rem;
}
header #nav{
   padding-right: 1rem;
}
header li a, header li i{
   color:var(--white);
   text-decoration: none;
   padding: 0.5rem;
   position: relative;
   border-radius: 100%;
   font-weight: bold;
}
@media(min-width: 600px) {
   header #menu a{
      margin:  0 .3rem;
      padding: 0 .5rem 0 0;
   }
   header #menu > li a::after{
      position: absolute;
      bottom: -4px;
      content: '';
      width: 0;
      opacity: .3;
      transition: .3s ease;
      height: 1px;
      left: 0;
      background-color: var(--white);
   }
   header #menu > li > a:hover::after{
      width: 100%;
      opacity: 1;
   }
}
header #btn-mobile{
   display: none;
   color: var(--white);
}

@media(max-width: 600px){
   header #btn-mobile{
       display: block;/*block = aparece*/
   }
   header #menu{
      display: block; 
      position: absolute;
      width: 100%;
      z-index: 9999;
      top: 80px;
      right: 0px;
      background: linear-gradient(var(--blue),var(--dark_blue));
      height: 0px;
      transition: .6s ease;/*só ocorre com display block*/
      z-index: 1000;
      visibility: hidden;
      overflow-y:hidden;
   }
   header #nav.active #menu{
      height: calc(100vh - 80px);
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      visibility: visible;
      padding-bottom: 30vh;
  }
   header li a {
      text-align: center;
      font-size: 1.3rem ;
      padding: 2rem 0 !important;
      opacity: .8;
      border-radius: 0;
      transition: .3s ease;
      margin-top: -200%;
   }
   header #nav.active li a{
      transition: .6s ease;
      margin-top: 0;
  }
   header li a:hover {
      background-color: var(--dark_blue);
      opacity: 1;
   }
   header #btn-mobile{
      display: flex;
      padding: .5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: .5rem;
  }
  header #hamburger{
      display: block;
      color: var(--white);
      border-top: 2px solid;
      width: 20px;    
      margin-top: 1px;   
  }
  header #hamburger::after, #hamburger::before{
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;/* mantém a mesma cor */
      margin-top: 5px;
      transition: .3s;
      position: relative;
  }
  header #nav.active #hamburger{
      border-top-color: transparent;
  }
  header #nav.active #hamburger::before{
      transform: rotate(135deg);
  }
  header #nav.active #hamburger::after{
      transform: rotate(-135deg);
      top:-7px;
  }
  header a#logo{
      font-size: 1.1em;
   }
   header a img{
      width: 20%;
      height: 20%;
   }
}
header nav li{
   position: relative;
}
header nav li ul{
   transition: .6s ease;
   display: flex;
   position: absolute;
   left: 0%;
   opacity: 0;
   margin: 0;
   flex-direction: column;
   width: 110%;
   top: 110%;
   height: 0;
   border-radius: 4px;
   overflow: hidden;
}

header nav #admin:hover ul{
   box-shadow: 1px 2px 7px var(--black);
   padding: .5rem;
   opacity: 1;
   background-color: var(--background_color_dark);
   min-height: 200px;
   max-height: 300px;
}

header nav #admin ul li{
   margin: 10px 0;
   width: 100%;
}
header nav #admin ul li a{
   font-size: .8rem;
   width: 100%;
   font-weight: 500;
   word-break: keep-all;
}