#update{
    padding: 5rem .4rem;
    background: #ccceff;
}
#update section {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    margin: 1rem auto;
    overflow: auto;
    padding: 1rem;
    background-color: var(--background_color);
    box-shadow: 2px 4px 10px var(--shadow)
}
#update img{
    width: 120px;
    image-rendering: auto;
    border: 1px solid var(--purple);
    box-shadow: 2px 4px 10px var(--shadow);
    height: 100px;
    border-radius: 4px 16px 4px 16px;
}
#update img:hover{
    transition: .6s cubic-bezier(.3, .9, .3, 2);
    transform: scale(1.6);
}
th,td{
    font-weight: 500;
    overflow: auto;
    overflow: visible;
    color: var(--black);
}
#update td a{
    padding: .4rem 1rem;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: .5px;
    box-shadow: 2px 2px 4px var(--shadow);
    color: var(--white);
    background-image: linear-gradient(to right, var(--purple), var(--light_purple));
    background-size: 200% 200%;
}
#update h1{
    font-size: clamp(1.6rem,1.6em + 1vw,3rem);
    color: var(--black);
    text-align: center;
    margin: 1rem 0;
}
#update section table{
    box-shadow: 2px 2px 10px var(--shadow);
    overflow: auto;
    min-width: 300px !important;
    width: 100%;
}

#update section table thead th{
    background-color: var(--alternative_color_dark);
    font-weight: bold;
    color: var(--white);
    padding: .5rem .2rem;
}
#update section table tbody tr{
    background-color: var(--alternative_color);
}
#update section table tbody tr:nth-child(even){
    background-color: var(--alternative_color_light);
}
#update section table tbody tr td{
    padding: .5rem;
    text-align: center;
    vertical-align: middle;
}



/* MODAL */
#l_form{
    background-color: var(--background_color_dark_modal);
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: auto;
    left: 0;
    height: 100%;
    padding: .4rem 1rem;
    font-family: inherit;
    justify-content: center;
    align-items: center;
    z-index: 5000;
}
form{
    background-image: linear-gradient(120deg, var(--black), var(--background_color_dark));
    width: 100%;
    box-sizing: border-box;
    max-height: 960px;
    padding: 2rem 1rem;
    overflow: auto;
    box-shadow: 8px 8px 16px var(--shadow);
    border-radius: 4px;
    background-size: 300% 300%;
    max-width: 960px;
}
#close{
    border: none;
    outline: none;
    background-color: var(--purple);
    position: fixed;
    color: var(--white);
    top: 1.4rem;
    cursor: pointer;
    padding: 25px;
    box-shadow: 8px 8px 16px var(--shadow);
    right: 1.4rem;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: clamp(14px, 1rem + 1vw,1.3rem);
}
#update i{
    color: var(--white);
}
form div{
    width: 100%;
    display: flex;
    overflow: visible;
    justify-content: center;
    align-items: center;
    margin: .4rem 0;
    max-width: 100%;
}

.form input:not([type='radio']),textarea,select,label[for='image']{
    padding: .4rem;
    font-size: clamp(.6rem,.6rem + 1vw, 1.1rem);
    overflow: visible;
    border-radius: 4px;
    box-shadow: 0px 2px 4px var(--shadow);
    max-width: 100%;
    outline: none;
    width: 100%;
    border: none;
    background-color: var(--white);
    resize: none;
    margin: 5px 0;
	font-family: 'Montserrat', Verdana, Arial, sans-serif;
}
.form label{
    font-size: clamp(.6rem,.6rem + 1vw, 1.1rem);

}
.form span, label{
    color: white;
}
.form .radio{
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.form .row{
    display: flex;
    flex-direction: column;
}
.form .row input, .form button{
    background: none;
    outline: none;
    border: none;
    box-shadow: none;
}
.form .row .container-button{
    background-color: white;
    display: flex;
    max-height: 35px;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 2px 4px var(--shadow);
    font-size: clamp(.6rem,.6rem + 1vw, 1.1rem);
    border-radius: 4px;
}
.form .row .container-button button{
    background-color: var(--purple);
    width: 100px;
    cursor: pointer;
    border-left: 1px solid var(--black);
    height: 200px;
}
.form label[for='image'] span,label i{
    color: var(--black) !important;
    font-weight: 500;
    margin: 0 .2rem;
    font-size: clamp(.6rem,.6rem + 1vw, 1.1rem);
}
.form label[for='image']{
    background-color: var(--white);
    width: 100%;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    cursor: pointer;
}
.form-item.col.column{
    flex-direction: column;
}
.form button[type='submit']{
    width: 100%;
    padding: .6rem 0;
    font-size: clamp(.7rem,.7rem + 1vw, 1.1rem);
    overflow: visible;
    /* max-width: 600px; */
    color: var(--white);
    align-self: flex-end;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: bold;
	font-family: 'Montserrat', Verdana, Arial, sans-serif;
    box-shadow: 0 2px 4px var(--shadow);
    background-image: linear-gradient(120deg, var(--purple), var(--light_purple));
    background-position: 200% 200%;
}
.chip{
    display: flex;
    max-width: 100px;
    overflow: hidden;
    border-radius: 8px;
    font-size: clamp(.5rem,.5rem + 1vw, .9rem);
    box-shadow: 4px 4px 6px var(--shadow);
    padding: 8px 4px;
    margin:  4px;
    justify-content: space-around;
    align-items: center;
    background: var(--purple);
}
.chip button{
    cursor: pointer;
}
#chips{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#preview{
    max-width: 80px;
    min-width: 40px;
    width: 100%;
    overflow: visible;
}
#preview > img{
    width: 100%;
    height: 100%;
}
#preview > img:hover{
    transition: .6s cubic-bezier(.5, .9, .5, 2);
    transform: scale(2);
}